@{
    ViewData["Title"] = "Add New";
    string type = ViewBag.Type as string ?? "";
}

@if (ViewBag.Errors != null)
{
    <ul style="color:red;">
        @foreach (var error in ViewBag.Errors)
        {
            <li>@error</li>
        }
    </ul>
}

<h2>Add New @type</h2>

<a href="/Catalogue">Back to Catalogue</a>

<br /><br />

<form method="post" action="/Catalogue/Create?type=@type">

    <h4>General</h4>

    <p>
        <label>Title</label><br />
        <input type="text" name="Title" value="@ViewBag.FormData?["Title"]" />
    </p>

    <p>
        <label>Description</label><br />
        <textarea name="Description" rows="3" cols="50">@ViewBag.FormData?["Description"]</textarea>
    </p>

    <p>
        <label>Release Date</label><br />
        <input type="date" name="ReleaseDate" value="@ViewBag.FormData?["ReleaseDate"]" />
    </p>

    <p>
        <label>Age Rating</label><br />
        <select name="AgeRating">
            <option value="">Select...</option>
            <option>U</option>
            <option>PG</option>
            <option>12</option>
            <option>12A</option>
            <option>15</option>
            <option>18</option>
        </select>
    </p>

    <p>
        <label>Genre</label><br />
        <input type="text" name="Genre" value="@ViewBag.FormData?["Genre"]" />
    </p>

    <h4>@type Details</h4>

    @if (type == "Movie")
    {
        <p>
            <label>Duration (minutes)</label><br />
            <input type="number" name="Duration" min="1" value="@ViewBag.FormData?["Duration"]" />
        </p>
        <p>
            <label>Director</label><br />
            <input type="text" name="Director" value="@ViewBag.FormData?["Director"]" />
        </p>
    }
    else if (type == "Series")
    {
        <p>
            <label>Number of Seasons</label><br />
            <input type="number" name="NumberOfSeasons" min="1" value="@ViewBag.FormData?["NumberOfSeasons"]" />
        </p>
        <p>
            <label>Total Episodes</label><br />
            <input type="number" name="TotalEpisodes" min="1" value="@ViewBag.FormData?["TotalEpisodes"]" />
        </p>
    }
    else if (type == "Audiobook")
    {
        <p>
            <label>Author</label><br />
            <input type="text" name="Author" value="@ViewBag.FormData?["Author"]" />
        </p>
        <p>
            <label>Narrator</label><br />
            <input type="text" name="Narrator" value="@ViewBag.FormData?["Narrator"]" />
        </p>
        <p>
            <label>Duration (minutes)</label><br />
            <input type="number" name="Duration" min="1" value="@ViewBag.FormData?["Duration"]" />
        </p>
    }
    else if (type == "MusicAlbum")
    {
        <p>
            <label>Artist</label><br />
            <input type="text" name="Artist" value="@ViewBag.FormData?["Artist"]" />
        </p>
        <p>
            <label>Track Count</label><br />
            <input type="number" name="TrackCount" min="1" value="@ViewBag.FormData?["TrackCount"]" />
        </p>
        <p>
            <label>Record Label</label><br />
            <input type="text" name="RecordLabel" value="@ViewBag.FormData?["RecordLabel"]" />
        </p>
    }

    <p>
        <button type="submit">Save</button>
        <a href="/Catalogue">Cancel</a>
    </p>

</form>